
:root {
  
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: #030014; 
  color: #ffffff;
  min-height: 100vh;
  
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}